<app-header></app-header>

<div class="container-fluid">
    <div class="row">

<app-sidebar></app-sidebar>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Parola Değiştirme Formu</h1>
    </div>

    <div *ngIf="isError" name="divAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Kullanıcı Güncellenemedi!</strong> Hata mesajı : {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-top: 8px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <div class="row">
        <div class="col-lg-12">
          
            <div class="form-group">
                <label>Kullanıcı Id : </label> 
                <b> {{ (user && user.id) ? user.id : ''}}</b>
            </div>

            <div class="form-group">
                <label>Email : </label>
                <b> {{ (user && user.email) ? user.email : ''}}</b>
            </div>

            <div class="form-group">
                <label>Telefon : </label>
                <b> {{ (user && user.phoneNumber) ? user.phoneNumber : ''}}</b>
            </div>

            <div class="form-group">
                <label>Ünvan : </label>
                <b> {{ (user && user.title) ? user.title : ''}}</b>
            </div>

            <div class="form-group">
                <label>Seçili Dil : </label>
                <b> {{ (user && user.language) ? user.language.name : ''}}</b>
            </div>

            <div class="form-group">
                <label>Roller : </label> 
                <ul *ngIf="user">
                    <li *ngFor="let role of user.userRoles">{{role}}</li>
                </ul>
            </div>

        </div>
    </div>

    <form #f="ngForm" (ngSubmit)="OnSubmit(user)">
        <div class="mb-3">
            <label for="password">Yeni Parola </label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" class="form-control" required minlength="6" maxlength="40" pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{6,}$" [(ngModel)]="user.password" #password="ngModel" name="password" placeholder="">
                <div class="invalid-feedback" style="width: 100%; display: block; font-size: 100%; font-weight: bold;">
                    <span *ngIf="password.errors?.required && password.touched">Lütfen parola girin!</span>
                    <span *ngIf="password.errors?.minlength && password.touched">Parola en az 6 ve en fazla 40 karakter olmalıdır!</span>
                    <span *ngIf="password.errors?.pattern && password.touched">Parola complex</span>
                </div>
              </div>
        </div>
    
        <div class="mb-3">
            <label for="password2">Yeni Parola Tekrarı</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" class="form-control" required minlength="6" maxlength="40" [(ngModel)]="user.password2" #password2="ngModel" name="password2" placeholder="">
                <div class="invalid-feedback" style="width: 100%; display: block; font-size: 100%; font-weight: bold;">
                    <span *ngIf="password2.errors?.required && password2.touched">Lütfen parola tekrarını girin!</span>
                    <span *ngIf="password2.errors?.minlength && password2.touched">Parola en az 6 ve en fazla 40 karakter olmalıdır!</span>
                    <span *ngIf="password2.value !== password.value">Parola ve tekrarı eşleşmiyor!</span>
                </div>
              </div>
         </div>
         <hr class="mb-4">

        <div class="row">
            <div class="col-md-9 mb-3">
              <input class="btn btn-primary btn-lg btn-block" [disabled]="password2.value !== password.value || !f.valid" type="submit" value="Parolayı Güncelle">
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-danger btn-lg btn-block" (click)="this.router.navigateByUrl('/home')" type="button">Vazgeç</button>
              </div>
          </div>
        </form>

</main>

</div>
</div>